p{
  word-break: break-all;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  background: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

pre code {
  background: whitesmoke;
  color: #ff3860;
}

h1, h2, h3, h4, h5, h6 { 
  font-weight: 400;
  margin: .02rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1.075rem;
}

p {
  margin: .3rem;
}

ol, ul {
  line-height: .7rem;
  margin-top: -.8rem;
}

.hero-body .pergunta{
  background-color: lightgreen;
}

.is-link.sem-underline {
  text-decoration: none;
}

.email-input,
.password-input {
  border-radius: 40px;
  font-size: 20px;
  padding-left: 15px;
  color: #95A5A6;
}

.icon.user,
.icon.password {
  margin: 5px 10px 0 0;
}

.avatar img {
  border-radius: 100px;
  padding: 5px;
  border: 1px solid #dbdbdb;
}

.forgot-password a {
  color: #95A5A6;
  font-weight: bold;
  padding-right: 20px;
}

.login {
  padding-top: 20px;
}

.login button {
  border-radius: 40px;
  font-weight: bold;
}

.hero.is-dark .section {
  background-color: transparent;
  border: 0;
}

.login-wrapper {
  margin: -0.75rem;
  overflow-x: inherit;
}

.stack-body{
  overflow-x: initial;
}

.hero-banner .hero {
  background: url("https://files.slack.com/files-pri/T4WL4EAU8-F63HRD2CQ/estourodepilha.png");
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: screen;
}

.hero-banner .title {
  border-radius: 5px;
  background-color: grey;
  display: inline-block;
  padding: 5px;
}

.nav-center .input{
  border-radius: 20px;
}

.login-wrapper .hero-body .li{
  margin-top: 20px;
}
.control .butCadas{
  margin-top: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.btnCad{
  border-radius: 20px;
}

.butCanc{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.box .label{
  margin-top: 15px;
}

.box{
  margin-top: 40px;
}

.stack-body {
  overflow-x: initial;
}

.hero-perfil {
  background: #4caf50;
}

.perfil-info {
  font-size: 1.2rem;
}

.tag {
  margin: 0 0.3rem 0 0.3rem;
}

.resposta-usuario-nick, .resposta-usuario-data {
  margin-left: 0.2rem;
}

.box{
  margin: 1.3rem;
}

.margin-top {
  margin-top: 1rem;
}

.link-disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
}

.containerBuscar {
  margin-top: 40px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.is-active {
    animation: fadein 1s;
}

.pagination-list {
  list-style: none;
  margin: 0;
  line-height: 0;
  padding: 0;
}

.descricao-box {
   margin: 0;
   margin-top: .5rem;
}

.botoes-desc {
  display: flex;
  justify-content: space-between;  
}