<div class="barraDeMenu" ng-include="'home/barra.de.menu.html'"><br></div>
  <div>
    <div class="box perguntasRelacionadas">
      <div class="descricaoDaResposta">
        <p><strong>Perguntas Frequentes</strong></p>
        <p>Como eu resolvo um favicon.error??</p>
        <p>Como eu faço um target 0?</p>
        <p>O que vocêm acham do Entity Framework?</p>
      </div>
    </div>
    <div class="box containerPerguntasERespostas">
      <div class="tituloPergunta">
        <label class="label">Pergunta do bagual : {{pergunta.Titulo}}</label>
      </div>
      <div class="descricaoDaPergunta">
         <p>Descrição da pergunta: {{pergunta.Descricao}}</p>
      </div>
      <div class="tagsDaPergunta" >
        <span class="tag is-light" ng-repeat="tags in pergunta.Tags">{{tags.Descricao}}</span>
      </div>
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
          <!--  <img src="https://pbs.twimg.com/profile_images/1157372685/gaucho_400x400.jpg" alt="Image">-->
            </figure>
          </div>
          <div class="media-content">
            <p><strong>{{pergunta.Usuario.Nome}}</strong></p>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="tag is-warning"></span>
                </a>
                <a class="level-item">
                  <span class="tag is-light"></span>
                </a>
                <a class="level-item">
                  <span class="tag is-danger"></span>
                </a>
              </div>
            </nav>
          </div>
        </article>
    </div>
    <div class="box containerPerguntasERespostas" ng-repeat="resposta in respostas">
      <div class="descricaoDaResposta">
        <p>Usuário: {{resposta.Usuario.Email}}</p>
        <p>Data da resposta: {{resposta.DataResposta}}</p>
        <p>Descricão da resposta: {{resposta.Descricao}}</p>
      </div>
    </div>
  </div>
