<section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-4 is-offset-4">
            <h1 class="title has-text-centered">
              Te cadastra ai guri!
            </h1>
            <div class="box">
              <label class="label has-text-centered">Nome</label>
              <p class="control">
                <input class="input"
                    type="text"
                    autofocus
                    required
                    ng-model="usuario.Nome"
                    placeholder="Jair Kobe">
              </p>
              <label class="label has-text-centered">Apelido</label>
              <p class="control">
                <input class="input"
                    type="text"
                    required
                    ng-model="usuario.Username"
                    placeholder="GuriDeUruguaiana">
              </p>
              <label class="label has-text-centered">Email</label>
              <p class="control">
                <input class="input"
                    type="email"
                    required
                    ng-model="usuario.Email"
                    placeholder="guriuguaiana@gaucho.mate">
              </p>
              <label class="label has-text-centered">Endereço</label>
              <p class="control">
                <input class="input"
                    type="text"
                    required
                    ng-model="usuario.Endereço"
                    placeholder="Uruguaiana, RS">
              </p>
              <label class="label has-text-centered">Tua Foto</label>
              <p class="control">
                <input class="input"
                    type="url"
                    required
                    ng-model="usuario.Foto"
                    placeholder="https://foto.png">
              </p>
              <label class="label has-text-centered">Senha</label>
              <p class="control">
                <input class="input"
                    type="password"
                    required
                    ng-model="usuario.Senha"
                    placeholder="●●●●●●●">
              </p>
              <hr>
              <label class="label has-text-centered">Descrição</label>
              <textarea rows="8"
                  cols="52"
                  class="textarea"
                  type="text"
                  required
                  ng-model="usuario.Descricao"
                  placeholder="Conta tuas indiada!"></textarea>
              <hr>
              <p class="control">
                <button class="button is-success is-outlined butCadas"
                    ng-click="cadastro()">Cadastrar</button>
                <button class="button is-danger is-outlined butCanc"
                    ng-click="cancelar()">Cancelar</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
