<section class="hero is-fullheight is-success is-bold">
  <div class="hero-body">
    <div class="container cont">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <h1 class="title has-text-centered">
            Te cadastra ai guri!
          </h1>
          <div class="box">
            <form name="formUsuario" novalidate>
              <label for="novoUsuario" class="label has-text-centered">Nome</label>
              <p class="control">
                <input class="input"
                    type="text"
                    autofocus
                    required
                    minlength="3"
                    maxlength="50"
                    ng-model="novoUsuario.Nome"
                    placeholder="Jair Kobe">
              </p>
              <label for="novoUsuario" class="label has-text-centered">Apelido</label>
              <p class="control">
                <input class="input"
                    type="text"
                    required
                    minlength="3"
                    maxlength="20"
                    placeholder="GuriDeUruguaiana">
              </p>
              <label for="novoUsuario" class="label has-text-centered">Email</label>
              <p class="control">
                <input class="input"
                    type="email"
                    required
                    minlength="3"
                    maxlength="40"
                    ng-model="novoUsuario.Email"
                    placeholder="guriuguaiana@gaucho.mate">
              </p>
              <label for="novoUsuario" class="label has-text-centered">Endereço</label>
              <p class="control">
                <input class="input"
                    type="text"
                    required
                    minlength="3"
                    maxlength="50"
                    ng-model="novoUsuario.Endereco"
                    placeholder="Uruguaiana, RS">
              </p>
              <label for="novoUsuario" class="label has-text-centered">Tua Foto</label>
              <p class="control">
                <input class="input"
                    type="url"
                    required
                    ng-model="novoUsuario.UrlImagemPerfil"
                    placeholder="https://foto.png">
              </p>
              <label for="novoUsuario" class="label has-text-centered">Senha</label>
              <p class="control">
                <input class="input"
                    type="password"
                    required
                    minlength="6"
                    maxlength="30"
                    ng-model="novoUsuario.Senha"
                    placeholder="●●●●●●●">
              </p>
              <hr>
              <label for="novoUsuario" class="label has-text-centered">Descrição</label>
              <textarea rows="8"
                  cols="52"
                  class="textarea"
                  type="text"
                  required
                  ng-model="novoUsuario.Descricao"
                  minlength="3"
                  maxlength="100"
                  placeholder="Conta tuas indiada!"></textarea>
              <hr>
              <p class="control">
                <button class="button is-success is-outlined butCadas"
                    ng-disabled="cadastroUsuario.$invalid"
                    ng-click="cadastrarUsuario(novoUsuario)">Cadastrar</button>
            </form>
            <a class="button is-danger is-outlined butCanc"
                ng-href="/#!/home">Voltar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
