<nav class="nav has-shadow"> 
    <div class="container">
        <div class="nav-left">
            <a class="nav-item">
                <img src="image/EstouroDePilha.png">
            </a>
            <a class="nav-item is-tab is-active" ng-href="#!/home">Estouro de Pilha</a>
            <a class="nav-item is-tab" ng-href="#!/cadastroPergunta">Perguntar</a>
            <a class="nav-item is-tab" ng-href="#!/pesquisarPergunta">Pesquisar</a>
        </div>
        <div class="nav-right nav-menu">
            <a class="nav-item is-tab" ng-if="estaLogado" ng-href="#!/perfil/{{}}">Perfil</a>
            <a class="nav-item is-tab" ng-if="!estaLogado" ng-href="#!/login">Logar</a>
            <a class="nav-item is-tab" ng-if="!estaLogado" ng-href="#!/cadastro">Cadastrar-se</a>
            <a class="nav-item is-tab" ng-if="estaLogado" ng-click="logout()" ng-href="#!/home">Log out</a>
        </div>
    </div>
</nav>
